[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
motor = "*"
pymongo = "*"
uvicorn = "*"
pyjwt = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.10"
